In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Import our input dataset
attrition_df = pd.read_csv('https://static.bc-edx.com/data/dl-1-2/m21/lessons/2/HR-Employee-Attrition.csv')
attrition_df

,Unnamed: 0,Age,Attrition,BusinessTravel,DailyRate,Department,Education,JobRole,DistanceFromHome,EnvironmentSatisfaction,...,MaritalStatus,MonthlyIncome,MonthlyRate,NumCompaniesWorked,Over18,OverTime,PercentSalaryHike,PerformanceRating,StandardHours,WorkLifeBalance
0,0,35,Yes,Travel_Frequently,502,S,a,l,5,4,...,Divorced,9200,10448,2,Y,Yes,5,1,80,1
1,1,42,No,Non-Travel,497,S,a,l,3,3,...,Single,10719,9049,3,Y,No,7,2,80,4
2,2,34,No,Non-Travel,505,T,e,c,4,3,...,Single,9843,9941,3,Y,No,10,3,80,1
3,3,43,No,Non-Travel,493,T,e,c,5,2,...,Divorced,12077,10150,5,Y,Yes,1,3,80,4
4,4,43,Yes,Travel_Rarely,536,R,e,s,4,4,...,Single,10486,10008,2,Y,No,9,1,80,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1445,1445,32,No,Travel_Rarely,506,S,a,l,2,3,...,Single,8328,9601,4,Y,No,12,2,80,3
1446,1446,44,No,Travel_Frequently,509,S,a,l,4,3,...,Married,9783,10634,2,Y,Yes,10,3,80,3
1447,1447,40,No,Non-Travel,510,S,a,l,3,5,...,Married,10307,9742,3,Y,No,6,4,80,4
1448,1448,30,No,Non-Travel,493,T,e,c,7,2,...,Single,10353,8678,3,Y,Yes,18,2,80,1
1449,1449,55,No,Travel_Rarely,509,R,e,s,3,2,...,Divorced,10276,12054,2,Y,No,7,3,80,3

In [3]:
# Generate our categorical variable lists

In [4]:
# Check the number of unique values in each column

Attrition         2
BusinessTravel    3
Department        3
Education         2
JobRole           3
Gender            2
MaritalStatus     3
Over18            2
OverTime          2
dtype: int64

In [5]:
# Create a OneHotEncoder instance


# Fit and transform the OneHotEncoder using the categorical variable list


# Add the encoded variable names to the dataframe

,Attrition_No,Attrition_Yes,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_R,Department_S,Department_T,Education_a,Education_e,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [6]:
# Merge one-hot encoded features and drop the originals

,Unnamed: 0,Age,DailyRate,DistanceFromHome,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,JobSatisfaction,MonthlyIncome,...,JobRole_s,Gender_F,Gender_M,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,Over18_N,Over18_Y,OverTime_No,OverTime_Yes
0,0,35,502,5,4,48,4,2,5,9200,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,1,42,497,3,3,50,4,3,5,10719,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
2,2,34,505,4,3,46,2,3,5,9843,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0
3,3,43,493,5,2,48,3,1,5,12077,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
4,4,43,536,4,4,53,2,3,2,10486,...,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0

In [7]:
# Split our preprocessed data into our features and target arrays


# Split the preprocessed data into a training and testing dataset

In [8]:
# Create a StandardScaler instances


# Fit the StandardScaler


# Scale the data

In [9]:
# Define the model - deep neural net


# First hidden layer


# Second hidden layer


# Output layer


# Check the structure of the model

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 296
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 347
Trainable params: 347
Non-trainable params: 0
_________________________________________________________________

In [10]:
# Compile the model

In [11]:
# Train the model

Train on 1087 samples
Epoch 1/100
1087/1087 [==============================] - 1s 555us/sample - loss: 0.4951 - accuracy: 0.8427
Epoch 2/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.4662 - accuracy: 0.8427
Epoch 3/100
1087/1087 [==============================] - 0s 66us/sample - loss: 0.4506 - accuracy: 0.8427
Epoch 4/100
1087/1087 [==============================] - 0s 93us/sample - loss: 0.4422 - accuracy: 0.8427
Epoch 5/100
1087/1087 [==============================] - 0s 90us/sample - loss: 0.4364 - accuracy: 0.8427
Epoch 6/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.4323 - accuracy: 0.8427
Epoch 7/100
1087/1087 [==============================] - 0s 67us/sample - loss: 0.4287 - accuracy: 0.8427
Epoch 8/100
1087/1087 [==============================] - 0s 70us/sample - loss: 0.4256 - accuracy: 0.8427
Epoch 9/100
1087/1087 [==============================] - 0s 69us/sample - loss: 0.4226 - accuracy: 0.8427
Epoch 10/100
1087/1087 [==============================] - 0s 79us/sample - loss: 0.4205 - accuracy: 0.8427
Epoch 11/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.4179 - accuracy: 0.8427
Epoch 12/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.4160 - accuracy: 0.8427
Epoch 13/100
1087/1087 [==============================] - 0s 128us/sample - loss: 0.4139 - accuracy: 0.8427
Epoch 14/100
1087/1087 [==============================] - 0s 70us/sample - loss: 0.4124 - accuracy: 0.8427
Epoch 15/100
1087/1087 [==============================] - 0s 70us/sample - loss: 0.4107 - accuracy: 0.8427
Epoch 16/100
1087/1087 [==============================] - 0s 66us/sample - loss: 0.4094 - accuracy: 0.8427
Epoch 17/100
1087/1087 [==============================] - 0s 70us/sample - loss: 0.4077 - accuracy: 0.8427
Epoch 18/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.4067 - accuracy: 0.8427
Epoch 19/100
1087/1087 [==============================] - 0s 109us/sample - loss: 0.4058 - accuracy: 0.8427
Epoch 20/100
1087/1087 [==============================] - 0s 94us/sample - loss: 0.4041 - accuracy: 0.8427
Epoch 21/100
1087/1087 [==============================] - 0s 85us/sample - loss: 0.4030 - accuracy: 0.8427
Epoch 22/100
1087/1087 [==============================] - 0s 67us/sample - loss: 0.4023 - accuracy: 0.8427
Epoch 23/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.4011 - accuracy: 0.8427
Epoch 24/100
1087/1087 [==============================] - 0s 104us/sample - loss: 0.3998 - accuracy: 0.8427
Epoch 25/100
1087/1087 [==============================] - 0s 77us/sample - loss: 0.3990 - accuracy: 0.8427
Epoch 26/100
1087/1087 [==============================] - 0s 76us/sample - loss: 0.3980 - accuracy: 0.8427
Epoch 27/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.3972 - accuracy: 0.8427
Epoch 28/100
1087/1087 [==============================] - 0s 103us/sample - loss: 0.3963 - accuracy: 0.8427
Epoch 29/100
1087/1087 [==============================] - 0s 95us/sample - loss: 0.3954 - accuracy: 0.8427
Epoch 30/100
1087/1087 [==============================] - 0s 67us/sample - loss: 0.3943 - accuracy: 0.8427
Epoch 31/100
1087/1087 [==============================] - 0s 76us/sample - loss: 0.3933 - accuracy: 0.8427
Epoch 32/100
1087/1087 [==============================] - 0s 76us/sample - loss: 0.3924 - accuracy: 0.8427
Epoch 33/100
1087/1087 [==============================] - 0s 69us/sample - loss: 0.3913 - accuracy: 0.8427
Epoch 34/100
1087/1087 [==============================] - 0s 118us/sample - loss: 0.3909 - accuracy: 0.8427
Epoch 35/100
1087/1087 [==============================] - 0s 77us/sample - loss: 0.3896 - accuracy: 0.8427
Epoch 36/100
1087/1087 [==============================] - 0s 78us/sample - loss: 0.3898 - accuracy: 0.8427
Epoch 37/100
1087/1087 [==============================] - 0s 74us/sample - loss: 0.3882 - accuracy: 0.8427
Epoch 38/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.3875 - accuracy: 0.8427
Epoch 39/100
1087/1087 [==============================] - 0s 80us/sample - loss: 0.3865 - accuracy: 0.8427
Epoch 40/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.3854 - accuracy: 0.8427
Epoch 41/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.3846 - accuracy: 0.8427
Epoch 42/100
1087/1087 [==============================] - 0s 79us/sample - loss: 0.3840 - accuracy: 0.8427
Epoch 43/100
1087/1087 [==============================] - 0s 88us/sample - loss: 0.3829 - accuracy: 0.8427
Epoch 44/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3820 - accuracy: 0.8427
Epoch 45/100
1087/1087 [==============================] - 0s 84us/sample - loss: 0.3815 - accuracy: 0.8427
Epoch 46/100
1087/1087 [==============================] - 0s 154us/sample - loss: 0.3798 - accuracy: 0.8427
Epoch 47/100
1087/1087 [==============================] - 0s 75us/sample - loss: 0.3789 - accuracy: 0.8427
Epoch 48/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3780 - accuracy: 0.8427
Epoch 49/100
1087/1087 [==============================] - 0s 71us/sample - loss: 0.3775 - accuracy: 0.8418
Epoch 50/100
1087/1087 [==============================] - 0s 77us/sample - loss: 0.3763 - accuracy: 0.8427
Epoch 51/100
1087/1087 [==============================] - 0s 70us/sample - loss: 0.3755 - accuracy: 0.8427
Epoch 52/100
1087/1087 [==============================] - 0s 87us/sample - loss: 0.3749 - accuracy: 0.8427
Epoch 53/100
1087/1087 [==============================] - 0s 105us/sample - loss: 0.3738 - accuracy: 0.8427
Epoch 54/100
1087/1087 [==============================] - 0s 92us/sample - loss: 0.3728 - accuracy: 0.8427
Epoch 55/100
1087/1087 [==============================] - 0s 67us/sample - loss: 0.3714 - accuracy: 0.8436
Epoch 56/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3710 - accuracy: 0.8436
Epoch 57/100
1087/1087 [==============================] - 0s 69us/sample - loss: 0.3699 - accuracy: 0.8445
Epoch 58/100
1087/1087 [==============================] - 0s 81us/sample - loss: 0.3693 - accuracy: 0.8445
Epoch 59/100
1087/1087 [==============================] - 0s 66us/sample - loss: 0.3684 - accuracy: 0.8454
Epoch 60/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3673 - accuracy: 0.8454
Epoch 61/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.3662 - accuracy: 0.8454
Epoch 62/100
1087/1087 [==============================] - 0s 73us/sample - loss: 0.3654 - accuracy: 0.8464
Epoch 63/100
1087/1087 [==============================] - 0s 77us/sample - loss: 0.3649 - accuracy: 0.8454
Epoch 64/100
1087/1087 [==============================] - 0s 104us/sample - loss: 0.3644 - accuracy: 0.8454
Epoch 65/100
1087/1087 [==============================] - 0s 91us/sample - loss: 0.3632 - accuracy: 0.8454
Epoch 66/100
1087/1087 [==============================] - 0s 93us/sample - loss: 0.3619 - accuracy: 0.8454
Epoch 67/100
1087/1087 [==============================] - 0s 84us/sample - loss: 0.3613 - accuracy: 0.8464
Epoch 68/100
1087/1087 [==============================] - 0s 62us/sample - loss: 0.3606 - accuracy: 0.8454
Epoch 69/100
1087/1087 [==============================] - 0s 81us/sample - loss: 0.3594 - accuracy: 0.8454
Epoch 70/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.3585 - accuracy: 0.8454
Epoch 71/100
1087/1087 [==============================] - 0s 65us/sample - loss: 0.3577 - accuracy: 0.8454
Epoch 72/100
1087/1087 [==============================] - 0s 64us/sample - loss: 0.3566 - accuracy: 0.8464
Epoch 73/100
1087/1087 [==============================] - 0s 79us/sample - loss: 0.3559 - accuracy: 0.8473
Epoch 74/100
1087/1087 [==============================] - 0s 65us/sample - loss: 0.3550 - accuracy: 0.8473
Epoch 75/100
1087/1087 [==============================] - 0s 69us/sample - loss: 0.3544 - accuracy: 0.8464
Epoch 76/100
1087/1087 [==============================] - 0s 86us/sample - loss: 0.3534 - accuracy: 0.8473
Epoch 77/100

1087/1087 [==============================] - 0s 120us/sample - loss: 0.3523 - accuracy: 0.8482
Epoch 78/100
1087/1087 [==============================] - 0s 68us/sample - loss: 0.3514 - accuracy: 0.8491
Epoch 79/100
1087/1087 [==============================] - 0s 60us/sample - loss: 0.3507 - accuracy: 0.8482
Epoch 80/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3496 - accuracy: 0.8482
Epoch 81/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3489 - accuracy: 0.8500
Epoch 82/100
1087/1087 [==============================] - 0s 62us/sample - loss: 0.3478 - accuracy: 0.8510
Epoch 83/100
1087/1087 [==============================] - 0s 56us/sample - loss: 0.3473 - accuracy: 0.8519
Epoch 84/100
1087/1087 [==============================] - 0s 54us/sample - loss: 0.3462 - accuracy: 0.8510
Epoch 85/100
1087/1087 [==============================] - 0s 83us/sample - loss: 0.3459 - accuracy: 0.8519
Epoch 86/100
1087/1087 [==============================] - 0s 77us/sample - loss: 0.3450 - accuracy: 0.8510
Epoch 87/100
1087/1087 [==============================] - 0s 96us/sample - loss: 0.3442 - accuracy: 0.8519
Epoch 88/100
1087/1087 [==============================] - 0s 59us/sample - loss: 0.3431 - accuracy: 0.8537
Epoch 89/100
1087/1087 [==============================] - 0s 64us/sample - loss: 0.3420 - accuracy: 0.8546
Epoch 90/100
1087/1087 [==============================] - 0s 67us/sample - loss: 0.3416 - accuracy: 0.8556
Epoch 91/100
1087/1087 [==============================] - 0s 61us/sample - loss: 0.3411 - accuracy: 0.8528
Epoch 92/100
1087/1087 [==============================] - 0s 54us/sample - loss: 0.3407 - accuracy: 0.8583
Epoch 93/100
1087/1087 [==============================] - 0s 72us/sample - loss: 0.3396 - accuracy: 0.8556
Epoch 94/100
1087/1087 [==============================] - 0s 55us/sample - loss: 0.3392 - accuracy: 0.8611
Epoch 95/100
1087/1087 [==============================] - 0s 61us/sample - loss: 0.3381 - accuracy: 0.8574
Epoch 96/100
1087/1087 [==============================] - 0s 62us/sample - loss: 0.3377 - accuracy: 0.8592
Epoch 97/100
1087/1087 [==============================] - 0s 60us/sample - loss: 0.3370 - accuracy: 0.8583
Epoch 98/100
1087/1087 [==============================] - 0s 61us/sample - loss: 0.3363 - accuracy: 0.8611
Epoch 99/100
1087/1087 [==============================] - 0s 84us/sample - loss: 0.3358 - accuracy: 0.8602
Epoch 100/100
1087/1087 [==============================] - 0s 61us/sample - loss: 0.3347 - accuracy: 0.8611

In [12]:
# Evaluate the model using the test data

363/363 - 0s - loss: 0.4816 - accuracy: 0.8375
Loss: 0.4815787776442599, Accuracy: 0.8374655842781067